/* purgecss start ignore */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Habibi&family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;700&display=swap");


@import "tailwindcss";
@config "./../tailwind.config.js";

html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
.font-habibi {
  font-family: "Habibi", serif;
}
.font-great-vibes {
  font-family: "Great Vibes", cursive;
}
.font-playfair {
  font-family: "Playfair Display", serif;
}
.text-shadow-outline {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.bg-blur-2px {
  filter: blur(2px);
}

p {
  @apply tracking-wide;
}

html,
body,
#__next {
  @apply bg-light-bg text-deep-pink dark:bg-dark-500 dark:text-white transition-colors duration-300;
}
