/* purgecss start ignore */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Habibi&family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
html {
  font-family: "Montserrat", sans-serif;
}
.font-habibi {
  font-family: "Habibi", serif;
}
.font-great-vibes {
  font-family: "Great Vibes", cursive;
}
.font-playfair {
  font-family: "Playfair Display", serif;
}
.bg-blur-2px {
  filter: blur(2px);
}
p {
  @apply tracking-wide;
}
/* purgecss end ignore */
@tailwind utilities;
